#root {
  width:100%;
  max-width: 2220px;
  margin: 0;
  text-align: center;
  background-color: #f5f6f5;
}

html {
  scroll-behavior: smooth;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

