#root {
  width:100%;
  max-width: 2220px;
  margin: 0;
  text-align: center;
  background-color: #f5f6f5;
}

html {
  scroll-behavior: smooth;
}


@media (max-width: 768px) {
  #root{
  background-color: #f5f6f5;
  margin: 0;
  width:100%;
  }
}

