:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color-scheme: light dark;
  background-color: #f5f6f5;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  font-family: 'Monda', sans-serif;
  font-size: large;
}

h1 {
  font-family: 'Changa', sans-serif;
}

.headshot {
  width: 40%;
  height: auto;
  max-width: 400px; 
  max-height: 400px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out; 
}

.headshot:hover {
  filter: grayscale(0%);
}

#home {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: #ffffff;
  overflow: auto;
}
#about-me {
  margin-top: 0;
  background-color: #f5f6f5;
  margin-left: 40%;
  margin-top: 10%;
  padding: 1rem;

  p {
    padding:4rem;
  }
}

button {
  background-color: black;
  border: .25rem solid black;
  margin: 2rem;
  padding: .4rem 4rem;
}

.white-bg {
  background-color: white;
}

.grey-bg {
  background-color: #f5f6f5;
}

#spacer {
  height: 4rem;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
