:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color-scheme: light dark;
  background-color: #f5f6f5;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Monda', sans-serif;
  font-size: large;
}

/* NAV BAR */

.visible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
}


h1 {
  font-family: 'Changa', sans-serif;
  font-size: 3rem;
}

/* LANDING PAGE */

.headshot {
  width: 40%;
  height: auto;
  max-width: 400px; 
  max-height: 400px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out; 
}

.headshot:hover {
  filter: grayscale(0%);
}

#home {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: #ffffff;
}

.img-fluid {
  width: 30px;
  height: auto;
}

#about-me {
  background-color: #f5f6f5;
  margin-left: 40%;
  margin-top: 10%;
  padding: 1rem;

  p {
    padding: 4rem;
  }
}

.white-bg {
  background-color: white;
}

.grey-bg {
  background-color: #f5f6f5;
}

button {
  background-color: black;
  border: .25rem solid black;
  margin: 2rem;
  padding: .4rem 4rem;
}

#spacer {
  height: 6rem;
}



/* PROJECTS */

.card-img-top {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  border-radius: 0;
  border-bottom: 1px solid #c4c6c493;
  max-height: 350px;
  height: auto;
}

.card:hover .card-img-top {
  filter: grayscale(0%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); 
}

.card {
  border-radius: 0;
}


/* SKILLS */

#skills {
  margin-left: 40%;
  margin-top: 10%;
  padding: 2rem;
}

.table td:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 768px) {
  #home {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 1rem;
  }

  #about-me {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  button {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #projects {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }

  #skills {
    text-align: center;  
    margin-left: 0;
    padding: 0;
  }

  table {
    margin: 0 auto;
    width: 50%;
    font-size: small;

    h4 {
      font-size: small;
    }
  }
}